<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @user.name %>,<br>
    <p>Your order has been confirmed.</p>
    Thank You,<br>
    Asana Athleisures Team
  </body>
</html>