<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>A new order has been confirmed by <%= @user.name %>.</h3>
    <h4>Order id is <%= @order.id %></h4>
  </body>
</html>