<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Asana Athleisure, <%= @user.name %>.</h3>
    <p>
      You have successfully signed up to www.asanaathleisure.com.
      <br>
    </p>
    <p>Thanks for joining and have a great day!</p><br>

    <strong>Best Regards,</strong><br>
    <strong>Asana Athleisure Team</strong>
  </body>
</html>