<footer class="footer">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>ABOUT US</h5>
                <hr class="light">
                <p>VISION & MISSION</p>
                <p>PRINCIPLES</p>
                <p>Alexandria, Egypt</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>HELP</h5>
                <hr class="light">
                <p><a href="#" class="footer-btn">FAQ</a></p>
                <p><a href="#" class="footer-btn">SHIPPING & RETURNS</a></p>
                <p><a href="#" class="footer-btn">CONTACT US</a></p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>SHOPPING</h5>
                <hr class="light">
                <p>Alexandria</p>
                <p>Cairo</p>
                <p>Tanta</p>
            </div>
            <div class="col-12" style="margin-bottom:0.6rem;">
                <hr class="light-100">
                <h6 style="display: inline;">&copy; ASANA |</h6>
                <a href="#" class="footer-btn">Privacy Policy |</a>
                <a href="#" class="footer-btn">Terms And Conditions</a>
            </div>
        </div>
    </div>
</footer>