<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <%= image_tag 'asana.png'%>
                <hr class="light">
                <p>888-888-888</p>
                <p>email@myemail.com</p>
                <p>Alexandria, Egypt</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>HELP</h5>
                <hr class="light">
                <p>FAQ</p>
                <p>SHIPPING & RETURNS</p>
                <p>CONTACT US</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>SERVICE AREA</h5>
                <hr class="light">
                <p>FAQ</p>
                <p>SHIPPING & RETURNS</p>
                <p>CONTACT US</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h6 style="display: inline;">&copy; ASANA |</h6>
                <a href="#" class="homebtn">Privacy Policy |</a>
                <a href="#" class="homebtn">Terms And Conditions</a>
            </div>
        </div>
    </div>
</footer>