<ul class="list-group">
  <li class="list-group-item"> <%= link_to 'All Products', products_path%> </li>
  <% if Category.any? %>
    <% Category.category.each do |c| %>
      <li class="list-group-item"> <%= link_to c.name, products_path(category_id: c.id) %> </li>
    <% end %>
  <% end %>
</ul>

