<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Tag', tags_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= active_link %></li>
    </ol>
  </nav>
</div>