<div class="container my-5">
  <div class="row mb-3 pl-3">
    <div class="row d-flex align-items-center">
      <i class="fas fa-shopping-cart fa-2x mx-3 pb-1"></i>
      <h1> Cart </h1>
    </div>
  </div>
  <div class="row">
    <% if @order.presence && @order.line_items.any?%>
      <div class="col-12">
        <div class="row" id="order_details_div">
          <%= render partial: 'order_details_partial', locals: {order: @order, line_items: @order.line_items}%>
        </div>
        <hr class="w-75">
      </div>
      <div class="row w-100 justify-content-end">
        <div class="col-12 col-md-4 my-4 pl-5">
          <h4> Total Amount: </h4>
          <hr class="w-50 ml-0">
          <p> EGP <%= @order.current_total_cost%></p>
          <% if @order.cart? %>
            <%= link_to 'Check Out', order_select_address_path(order_id: @order.id), class: "btn color-semi-black text-dec-none mt-2 mb-3 col-12 col-md-11 col-lg-8 col-xl-7" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>Your cart is empty, <%= link_to 'Continue Shopping', products_path %></p>
    <% end %>
  </div>
</div>