<div class="container my-5">
    <div class="mr-2">
        <h2 class="pl-3">Contact Us</h2>  
        <div class="ml-3 pt-2">
            <h4 class="pl-4 pl-md-3 mt-2">
                Email:
            </h4>
            <p class="pl-4 pl-md-3 mt-1">
                contact@asanaathleisure.com
            </p>
        </div>
    </div>
</div>