<div class="container mt-5">
    <div class="row mr-2">
        <h2 class="pl-3">Core Values</h2>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <ul class="ml-2 mt-2">
            <li style="list-style-type: circle;">Inspire</li>
            <li style="list-style-type: circle;">Innovate</li>
            <li style="list-style-type: circle;">Passion</li>
            <li style="list-style-type: circle;">Lead</li>
        </ul>
    </div>
</div>