<div class="container my-5">
    <div class="row">
        <h2 class="pl-2">Exchange & Refunds Policy</h2>
        <ul class="mt-3">
            <li style="list-style-type: circle;">Refunds are available within 7	days upon arrival date of product and exchanges	are	available within 14 days.</li>
            <li style="list-style-type: circle;">Products must be unworn and in brand new condition to be accepted for a refund or exchange.</li>
            <li style="list-style-type: circle;">You must contact us prior to shipping any items back for authorisation.</li>
            <li style="list-style-type: circle;">A	return	or	exchange	without	authorisation	will	be	refused	and	sent back	to	customer	without	refund.</li>
            <li style="list-style-type: circle;">If	there	is	any	sign	that	the	product	(and/or	any	of	the	product	packaging)	has	been	used,	worn,	washed,	or	is	in	un-sellable	condition,	Asana Athleisure	reserves	the	right	to	un-authorise	the	refund	or	exchange.</li>
            <li style="list-style-type: circle;">If such a situation does occur, the item will be refused and sent back to you.</li>
        </ul>  
        <p class="pl-2 mt-2">
            **	Shipping	costs	to	Asana	Athleisure	associated	with	any	refund	or	exchange	will	be	the	
            responsibility	of	the	customer.	Shipping	back	refunds	or	exchanges	will	be	the	
            responsibility	of	Asana	Athleisure.	Lastly,	the	same	item	may	not	be	returned	twice.	
        </p>
    </div>
</div>