<div class="container my-5">
    <div class="row mr-2">
        <h2 class="pl-3">Mission</h2>
        <p class="pl-4 pl-md-5 mt-3">
            At	Asana	Athleisure,	we	are	committed	to	being	a	market	leader	in	the	athleisure	
            industry	sector.	Our	brand	offers	confident	sportswear	for	sophisticated	customers	who	
            developed	passion	for	sports,	fashion	and	sporting	lifestyle.	We	are	continuously	looking	
            for	new	innovation	to	help	us	deliver	products	of	premium	quality	consistent	with	our	
            brand	image.			
        </p>
        <h2 class="pl-3 mt-3">Vision</h2>
        <p class="pl-4 pl-md-5 mt-3">
            We	are	quality	and	design	leaders	who	seek	to	provide	athletes	with	new	innovation	to	
            help	them	enhance	their	performance	and	enjoy	a	sporting	and	confident	lifestyle.	
            Customer	satisfaction	is	our	main	priority.	Therefore,	we	are	continuously	listening	and	
            responding	to	the	needs	of	our	customers	to	meet	their	high	expectations.					
        </p>
    </div>
</div>