<div class="container my-5">
    <div class="mr-2">
        <h2 class="pl-3">Privacy Policy</h2>  
        <p class="pl-4 pl-md-3 mt-4">
            Your privacy, and the privacy of all Asana users, is important to us. We ask for certain information when a user registers to help us connect with the user, confirm the order and deliver it. 
        </p>
        <h2 class="pl-3 mt-2">Cookie Policy</h2>  
        <p class="pl-4 pl-md-3 mt-4">
            We send cookies to your computer through your browser to enable our systems to recognize your browser and save your cart data till you register.
        </p>
        <p class="pl-4 pl-md-3">
            By using the service, you are consenting to our processing of your information as set forth in these solicies. If you do not agree to this, please do not access or use the service.
        </p>
    </div>
</div>