<div class = "container">
  <% if color.new_record? %>
    <h1> Edit <%= color.name %> </h1>
  <% else %>
    <h1> New color  </h1>
  <% end %>

  <div class = "row">
    <div class= "col-md-9">
      <%= simple_form_for color, url: (color.new_record? ? colors_path : color_path)  do |f| %>

        <div class="form-group">
          <%= f.label 'Color Name', :name %>
          <%= f.text_field :name, class: 'form-control'  %>
        </div>
        <br><br>

        <div class="d-flex flex-row-reverse">
          <button class="btn btn-primary btn-large align-right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        
      <% end %>
    </div>
  </div>
</div>