// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// navbar

hr.divider { 
  margin: 0em;
  border-width: 1px;
  background-color: white;
}

#left-nav{
   font-size: 0.7em !important;
}

#nav-all{
  font-size: 0.9em !important;
}
#nav-all:hover{
  background-color: #868e96;
}
#nav-all > a{
  color: #fff;
}
#nav-all-col > li > a{
  font-size: 0.9em !important;
  color: #fff;
}
// styling to pagination 
.page-item:first-child .page-link, .page-item:last-child .page-link{
  padding: 2px 6px 2px 6px;
}
.page-item:first-child .page-link .material-icons, .page-item:last-child .page-link .material-icons{
  padding-top: 3px;
}

// buttons
.btn{
  align-items: center;
}
.btn > i{
  margin-left: 3px;
  font-size: 20px;
}
.search-icon{
  position: absolute;
  top: 15%;
  right: 6%;
  background: #fff;
}

//footer
.footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
  margin-top: 2rem;
}

.footer-btn {
  border: none;
  background-color: inherit;
  font-size: 15px;
  cursor: pointer;
  color: #d5d5d5;
  text-decoration: none;
}

.footer-btn:hover {color:silver;
  text-decoration: none;
}
.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}
//homepage
.carousel-inner img{
  width: 100%;
  height: 100%;
}

.social a{
  font-size: 3em;
  padding: 2rem;
}

.fa-facebook{
    color: #3b5998
}
.fa-twitter{
  color: #00aced
}
.fa-instagram{
  color: #517fa4
}
.fa-youtube{
  color: #bb0000
}
.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-youtube:hover{
  color: #d5d5d5;
}

.jumbotron-div{
  padding-top: 8%;
}

.inner{
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

#messages {
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  z-index: 7000;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400);


@mixin cf {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}


.header-nav {
	@include cf;
	position: relative;
	padding-right: 3em;
}


.search-button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0,-50%);
}
.search-button:hover{
  color: white;
}

.search-toggle {
	position: relative;
	display: block;
	height: 18px;
	width: 18px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		display: block;
		transition: all 0.1s;
	}

	&::before {
		border: 4px solid #868e96;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		left: 10px;
		top: -4px;
	}

	&::after {
		height: 4px;
		width: 12px;
		background: #868e96;
		top: 12px;
		left: 22px;
		transform: rotate(45deg);
	}

	&.active {
		
		&::before{
			width: 0;
			border-width: 1px;
			border-radius: 0;
			transform: rotate(45deg);
			top: 0px;
			left: 17px;
		}

		&::after {
			width: 12px;
			left: 13px;
			top: 5px;
		}
	}
}

.search-input {

	&:focus {
		outline: none;
	}
}


#header-1 {
	border-bottom: 2px solid #353D42;

	.search-box {
		position: absolute;
    bottom: 0;
    left: 5px;
		width: 100%;
		height: 100%;
		max-height: 0;
		transform: translateY(100%);
		background-color: #d3d3d3;
		transition: all 0.3s;

		.search-input {
			width: 100%;
			height: 100%;
			padding: 0 1em;
			border: 0;
			background-color: transparent;
			opacity: 0;
      color: #353D42;

			&::-webkit-input-placeholder {
				color: rgba(#353D42, 0.4);
			}
		}
	}

	&.show {

		.search-box {
			max-height: 40px;

			.search-input {
				opacity: 1;
			}
		}
	}
}


// Extra small devices (portrait phones, less than 576px)

// iphone 5,5s portrait
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) 
  and (orientation : portrait) { 
    #search-col{
      width:14.5rem;
      height:50%;
      background-color:#343a40;
      color:white;
    }
  }

// iphone x portrait
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 812px) 
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait) { 
    #search-col{
      width:18rem;
      height:50%;
      background-color:#343a40;
      color:white;
    }
  }

//  iphone 7,8 portrait
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : portrait) {
    #search-col{
      width:18rem;
      height:50%;
      background-color:#343a40;
      color:white;
    }
  }

// iphone 7,8 plus portrait
  @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) 
  and (orientation : portrait) { 
    #search-col{
      width:20rem;
      height:50%;
      background-color:#343a40;
      color:white;
    }
   }

// Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    
   }

// Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) { 

  }

// Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) { 
    #new-arr-img{
      height: 205px;
    }
    .jumbotron-div{
      padding-top: 2%;
    }
  }

// Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .jumbotron-div{
      padding-top: 6%;
    }
  }

// Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 

    }
    