<div class="row">
      <div class="col-sm-5">
        <h1><%= link_to @product.name, product_path(@product) %> </h1> 
        <div class="card">
          <%= image_tag @product.main_photo.url(:medium), class: "card-img-top img-fluid" %>
        </div>
      </div>
</div>


           


