<div class="">
  <ul class="list-group mb-4 edit-pass-font">
    <li class="list-group-item bg-light">
      <%= link_to "EDIT ACCOUNT", edit_registration_path(:user), class:"text-dark collection-item #{'active' if current == 'edit'} " %>
    </li>
    <li class="list-group-item bg-light">
      <%= link_to "CHANGE PASSWORD", edit_user_password_path, class:"text-dark collection-item #{'active' if current == 'edit_password'} " %>
    </li>
    <li class="list-group-item bg-light">
      <%= link_to "MY ORDERS", orders_path, class:"text-dark" %>
    </li>
  </ul>
</div>