<div class="collection">
  <%= link_to "Edit account", edit_registration_path(:user), class:"collection-item #{'active' if current == 'edit'} " %>
  <%= link_to "Change Password", edit_user_password_path, class:"collection-item #{'active' if current == 'edit_password'} " %>
</div>